In [5]:
import numpy as np
import pandas as pd
import re
import json
import matplotlib.pyplot as plt
from scipy.stats import norm
import matplotlib.mlab as mlab
import geopy

In [6]:
df = pd.read_json('./data/cragslist.json')

ValueError: Expected object or value

In [4]:
df.head()

,address,price,bed,bath,area,company,neighborhood,laundry,pets,parking,utilities,property_type,year_built,description,images
0,2709 N Spurway Dr,3300.0,3,2.5,2438.0,None,NaN,0,0,0,[],apartment,NaN,BRAND NEW! This North Oaks luxury townhome on ...,[]
1,1777 Plymouth Rd,1625.0,1,1.0,730.0,None,NaN,0,0,0,[],apartment,NaN,Immediate occupancy! Unique opportunity to liv...,[]
10,City Place Ann Arbor,975.0,6,6.0,2665.0,Campus Village Communities,NaN,1,0,0,[],apartment,2012.0,City Place Ann Arbor offers 6 bedroom townhome...,[]
100,"5 br, 2 bath House - 504 Lawrence St # 2",4000.0,5,2.0,NaN,None,NaN,1,1,0,[],apartment,NaN,(734) 260-7215 - Available. Fall to Fall lease...,[]
1000,The George,2619.0,2,2.0,1225.0,The Hayman Company,NaN,1,0,0,[],apartment,2018.0,Move now and receive January rent FREE on sele...,[]